<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,756},{202,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,39},{202,178}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,526},{228,228}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{228,228}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,2},{18,12}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{18,12}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,936},{16,12}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{16,12}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>05.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,554},{18,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{18,14}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>ET_dust_for_Shake1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{748,522}}</string>
                <key>offset</key>
                <string>{6,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,4},{748,522}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>ET_dust_for_Shake2.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{742,522}}</string>
                <key>offset</key>
                <string>{27,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,76},{742,522}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>ET_dust_for_Shake3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{794,550}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,33},{794,550}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>ET_dust_for_Shake4.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,526},{618,552}}</string>
                <key>offset</key>
                <string>{73,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,5},{618,552}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ET_dust_for_shake.png</string>
            <key>size</key>
            <string>{1648,1080}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06281b801201eb029c049d33bc01c44c:ee5e280ac744580d039e90e469c2b343:6cd2c2a80feabbb67850ab473fb0db60$</string>
            <key>textureFileName</key>
            <string>ET_dust_for_shake.png</string>
        </dict>
    </dict>
</plist>
