<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ET_PLAYER_LANDING1.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{41,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{41,22}}</string>
                <key>sourceSize</key>
                <string>{59,32}</string>
            </dict>
            <key>ET_PLAYER_LANDING2.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{48,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{48,24}}</string>
                <key>sourceSize</key>
                <string>{66,36}</string>
            </dict>
            <key>ET_PLAYER_LANDING3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,26}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{52,26}}</string>
                <key>sourceSize</key>
                <string>{66,36}</string>
            </dict>
            <key>ET_PLAYER_LANDING4.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{52,22}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{52,22}}</string>
                <key>sourceSize</key>
                <string>{66,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ET_PLAYER_LANDING.png</string>
            <key>size</key>
            <string>{203,30}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5a985433a64269c0e6e6b09a57f6c7c:9afda1aebe23aa12a4e9c5652e28ebcb:f5b3ccddcb3d71026dff9cfc926a0406$</string>
            <key>textureFileName</key>
            <string>ET_PLAYER_LANDING.png</string>
        </dict>
    </dict>
</plist>
