<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ET_PLAYER_LANDING1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{51,26}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{51,26}}</string>
                <key>sourceSize</key>
                <string>{55,34}</string>
            </dict>
            <key>ET_PLAYER_LANDING2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{51,26}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{51,26}}</string>
                <key>sourceSize</key>
                <string>{55,34}</string>
            </dict>
            <key>ET_PLAYER_LANDING3.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,2},{53,20}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{53,20}}</string>
                <key>sourceSize</key>
                <string>{55,34}</string>
            </dict>
            <key>ET_PLAYER_LANDING4.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,2},{53,20}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{53,20}}</string>
                <key>sourceSize</key>
                <string>{55,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ET_PLAYER_LANDING.png</string>
            <key>size</key>
            <string>{110,30}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59bb913e82d9e045ff44febed7814898:780b0a06c70374ba426bd6e6b52fb93a:f5b3ccddcb3d71026dff9cfc926a0406$</string>
            <key>textureFileName</key>
            <string>ET_PLAYER_LANDING.png</string>
        </dict>
    </dict>
</plist>
