<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ET_PLAYER_LANDING1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{22,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{22,41}}</string>
                <key>sourceSize</key>
                <string>{32,59}</string>
            </dict>
            <key>ET_PLAYER_LANDING2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{24,48}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{24,48}}</string>
                <key>sourceSize</key>
                <string>{36,66}</string>
            </dict>
            <key>ET_PLAYER_LANDING3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{26,52}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{26,52}}</string>
                <key>sourceSize</key>
                <string>{36,66}</string>
            </dict>
            <key>ET_PLAYER_LANDING4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{22,52}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{22,52}}</string>
                <key>sourceSize</key>
                <string>{36,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ET_PLAYER_LANDING.png</string>
            <key>size</key>
            <string>{30,203}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18d4902442d646366bd6cb549742cff2:7bd4bd431c9468ce26ef18f8317aea9b:f5b3ccddcb3d71026dff9cfc926a0406$</string>
            <key>textureFileName</key>
            <string>ET_PLAYER_LANDING.png</string>
        </dict>
    </dict>
</plist>
