<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>02.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,18},{18,12}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{18,12}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>03.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,46},{16,12}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{16,12}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>04.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,32},{18,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{18,12}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>05.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{18,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{18,14}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>Item_Leg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Item_Leg.png</string>
            <key>size</key>
            <string>{88,66}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d7d3b2b66352e909541b650b1d67b5a:ac2937e238dda0f8ed419f92ee8b41b8:f5ab3ea373eee9017106b9dc000f110b$</string>
            <key>textureFileName</key>
            <string>Item_Leg.png</string>
        </dict>
    </dict>
</plist>
