<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Melee_Missile1.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,2},{72,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{72,26}}</string>
                <key>sourceSize</key>
                <string>{72,28}</string>
            </dict>
            <key>Melee_Missile2.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{75,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{75,28}}</string>
                <key>sourceSize</key>
                <string>{81,30}</string>
            </dict>
            <key>Melee_Missile3.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,2},{73,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{73,26}}</string>
                <key>sourceSize</key>
                <string>{81,30}</string>
            </dict>
            <key>Melee_Missile4.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{73,26}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{73,26}}</string>
                <key>sourceSize</key>
                <string>{81,30}</string>
            </dict>
            <key>Melee_Missile5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,35}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{74,35}}</string>
                <key>sourceSize</key>
                <string>{76,39}</string>
            </dict>
            <key>Melee_Missile6.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,2},{72,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{72,28}}</string>
                <key>sourceSize</key>
                <string>{74,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Melee_Missile.png</string>
            <key>size</key>
            <string>{453,39}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b9da8012934c198ea72aaf475b1c53b:982fdd3e6757b65827dfd9a136d52e7f:3b273cd52b77e019bbc7f21a72ea6cbe$</string>
            <key>textureFileName</key>
            <string>Melee_Missile.png</string>
        </dict>
    </dict>
</plist>
