<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Melee_Missile_Collision1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{87,77}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,24},{87,77}}</string>
                <key>sourceSize</key>
                <string>{113,119}</string>
            </dict>
            <key>Melee_Missile_Collision2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{73,84}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,10},{73,84}}</string>
                <key>sourceSize</key>
                <string>{115,108}</string>
            </dict>
            <key>Melee_Missile_Collision3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,88}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,18},{72,88}}</string>
                <key>sourceSize</key>
                <string>{118,120}</string>
            </dict>
            <key>Melee_Missile_Collision4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{87,77}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,24},{87,77}}</string>
                <key>sourceSize</key>
                <string>{113,119}</string>
            </dict>
            <key>Melee_Missile_Collision5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{84,77}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{84,77}}</string>
                <key>sourceSize</key>
                <string>{106,115}</string>
            </dict>
            <key>Melee_Missile_Collision6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,313},{84,77}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{84,77}}</string>
                <key>sourceSize</key>
                <string>{116,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Melee_Missile_Collision.png</string>
            <key>size</key>
            <string>{92,467}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:175abbfc259dfbf64052dc35acb9d487:2fc1b09c22996f172132b063656b564f:5296006eb73365a42eafade33326eddc$</string>
            <key>textureFileName</key>
            <string>Melee_Missile_Collision.png</string>
        </dict>
    </dict>
</plist>
