<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_bat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{52,46}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{52,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>monster_bat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{54,48}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{54,48}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>monster_bat3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{56,34}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>monster_bat4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{56,30}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,18},{56,30}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>monster_bat5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{54,40}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,18},{54,40}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>monster_bat6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{52,42}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,16},{52,42}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>monster_bat7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{56,30}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,16},{56,30}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>monster_bat8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{54,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,13},{54,32}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monsterBat.png</string>
            <key>size</key>
            <string>{60,320}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c10c46b0aa39074aa417b23bc0cb23b:4c5929a6e50cdd2e6deab4e1b79ecf5d:ea7970c5e7751f3a2e97d67ace370c6c$</string>
            <key>textureFileName</key>
            <string>monsterBat.png</string>
        </dict>
    </dict>
</plist>
