<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>New_Linear_Missile1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{28,30}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{28,30}}</string>
                <key>sourceSize</key>
                <string>{34,38}</string>
            </dict>
            <key>New_Linear_Missile2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,261},{43,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{43,44}}</string>
                <key>sourceSize</key>
                <string>{51,52}</string>
            </dict>
            <key>New_Linear_Missile3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{57,66}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{57,66}}</string>
                <key>sourceSize</key>
                <string>{61,68}</string>
            </dict>
            <key>New_Linear_Missile4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{57,61}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{57,61}}</string>
                <key>sourceSize</key>
                <string>{65,71}</string>
            </dict>
            <key>New_Linear_Missile5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{59,63}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{59,63}}</string>
                <key>sourceSize</key>
                <string>{65,71}</string>
            </dict>
            <key>New_Linear_Missile6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{59,61}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{59,61}}</string>
                <key>sourceSize</key>
                <string>{63,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>New_Linear_Missile.png</string>
            <key>size</key>
            <string>{63,336}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a238dd8dfede4b92caae98bc6d23c57:79244414d3257d42d299be610587cc51:a36eb3fbb964b55b3be01dafcf2e6ba9$</string>
            <key>textureFileName</key>
            <string>New_Linear_Missile.png</string>
        </dict>
    </dict>
</plist>
