<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GatewayAct0.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,452},{26,32}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>GatewayAct1.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,452},{30,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>GatewayAct2.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,452},{30,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>GatewayAct3.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,452},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>GatewayAct4.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,452},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>GatewayActive.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,486},{1,1}}</string>
                <key>offset</key>
                <string>{-15.5,15.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>GatewayUnactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,452},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,448}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,448}}</string>
                <key>sourceSize</key>
                <string>{640,448}</string>
            </dict>
            <key>menu_play0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{125,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,42}}</string>
                <key>sourceSize</key>
                <string>{125,42}</string>
            </dict>
            <key>menu_play1.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,452},{125,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,42}}</string>
                <key>sourceSize</key>
                <string>{125,42}</string>
            </dict>
            <key>turret.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,452},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ozt.png</string>
            <key>size</key>
            <string>{644,496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c09707ad891bdac7c319bd34e50ea04c:7bb44017a62cb26468725a07492e1e58:d3a240d8472909aae37610582f1d0455$</string>
            <key>textureFileName</key>
            <string>ozt.png</string>
        </dict>
    </dict>
</plist>
