<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FloorGateway0.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,211},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>FloorGateway1.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,325},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>FloorGateway10.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,393},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>FloorGateway2.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,325},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>FloorGateway3.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,294},{50,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>FloorGateway4.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,393},{50,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>FloorGateway5.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,393},{50,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>FloorGateway6.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,294},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>FloorGateway7.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,326},{50,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>FloorGateway8.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,376},{50,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>FloorGateway9.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,377},{50,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>GatewayAct0.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,326},{26,32}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>GatewayAct1.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,346},{30,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>GatewayAct2.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,346},{30,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>GatewayAct3.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,325},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>GatewayAct4.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,359},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>GatewayActive.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,107},{1,1}}</string>
                <key>offset</key>
                <string>{-15.5,15.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>GatewayUnactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,393},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,448}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,448}}</string>
                <key>sourceSize</key>
                <string>{640,448}</string>
            </dict>
            <key>menu_play0.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{125,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,42}}</string>
                <key>sourceSize</key>
                <string>{125,42}</string>
            </dict>
            <key>menu_play1.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,2},{125,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,42}}</string>
                <key>sourceSize</key>
                <string>{125,42}</string>
            </dict>
            <key>trap0.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,181},{12,10}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{12,10}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>trap1.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,346},{25,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{25,40}}</string>
                <key>sourceSize</key>
                <string>{25,44}</string>
            </dict>
            <key>trap10.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,79},{35,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{35,121}}</string>
                <key>sourceSize</key>
                <string>{39,127}</string>
            </dict>
            <key>trap11.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,46},{30,125}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{30,125}}</string>
                <key>sourceSize</key>
                <string>{34,129}</string>
            </dict>
            <key>trap12.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,2},{41,103}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{41,103}}</string>
                <key>sourceSize</key>
                <string>{43,111}</string>
            </dict>
            <key>trap13.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,224},{38,106}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,106}}</string>
                <key>sourceSize</key>
                <string>{40,108}</string>
            </dict>
            <key>trap14.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,187},{35,114}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{35,114}}</string>
                <key>sourceSize</key>
                <string>{39,120}</string>
            </dict>
            <key>trap15.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,181},{36,114}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{36,114}}</string>
                <key>sourceSize</key>
                <string>{38,122}</string>
            </dict>
            <key>trap16.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,152},{33,119}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{33,119}}</string>
                <key>sourceSize</key>
                <string>{35,125}</string>
            </dict>
            <key>trap17.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,111},{32,121}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{32,121}}</string>
                <key>sourceSize</key>
                <string>{32,129}</string>
            </dict>
            <key>trap18.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,78},{31,123}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{31,123}}</string>
                <key>sourceSize</key>
                <string>{31,127}</string>
            </dict>
            <key>trap19.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,46},{31,125}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,125}}</string>
                <key>sourceSize</key>
                <string>{33,129}</string>
            </dict>
            <key>trap2.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,263},{28,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{28,62}}</string>
                <key>sourceSize</key>
                <string>{28,66}</string>
            </dict>
            <key>trap20.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,285},{39,101}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{39,101}}</string>
                <key>sourceSize</key>
                <string>{39,107}</string>
            </dict>
            <key>trap21.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,264},{28,103}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{28,103}}</string>
                <key>sourceSize</key>
                <string>{28,109}</string>
            </dict>
            <key>trap22.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,219},{24,107}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{24,107}}</string>
                <key>sourceSize</key>
                <string>{24,113}</string>
            </dict>
            <key>trap23.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,181},{12,10}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{12,10}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>trap3.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,293},{30,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{30,88}}</string>
                <key>sourceSize</key>
                <string>{30,90}</string>
            </dict>
            <key>trap4.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,107},{41,102}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{41,102}}</string>
                <key>sourceSize</key>
                <string>{43,106}</string>
            </dict>
            <key>trap5.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,107},{41,102}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{41,102}}</string>
                <key>sourceSize</key>
                <string>{43,106}</string>
            </dict>
            <key>trap6.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,107},{41,102}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{41,102}}</string>
                <key>sourceSize</key>
                <string>{43,106}</string>
            </dict>
            <key>trap7.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,245},{38,105}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{38,105}}</string>
                <key>sourceSize</key>
                <string>{40,111}</string>
            </dict>
            <key>trap8.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,145},{34,119}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{34,119}}</string>
                <key>sourceSize</key>
                <string>{38,123}</string>
            </dict>
            <key>trap9.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,116},{34,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{34,120}}</string>
                <key>sourceSize</key>
                <string>{36,126}</string>
            </dict>
            <key>turret.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,346},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ozt.png</string>
            <key>size</key>
            <string>{942,452}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e30b5628bc420d688c949fc27385936a:7ae2b2bd228b856b6d35be43a9fc3467:d3a240d8472909aae37610582f1d0455$</string>
            <key>textureFileName</key>
            <string>ozt.png</string>
        </dict>
    </dict>
</plist>
