<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,448}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,448}}</string>
                <key>sourceSize</key>
                <string>{640,448}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ozt.png</string>
            <key>size</key>
            <string>{644,452}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46e6a2ceae877468c665a3605dc4aef5:d552381decbffd8149cc6cec7caff038:d3a240d8472909aae37610582f1d0455$</string>
            <key>textureFileName</key>
            <string>ozt.png</string>
        </dict>
    </dict>
</plist>
