<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SteamPack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{50,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{50,50}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>SteamPack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>SteamPack3.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>SteamPack4.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>SteamPack5.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{78,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SteamPack.png</string>
            <key>size</key>
            <string>{380,84}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79cf1cf228220b3824bbea80fd9d5e9b:dc870b4f3826ba3cd019965225d5d2eb:39c5a93360e7aaed08bb90a763d002fb$</string>
            <key>textureFileName</key>
            <string>SteamPack.png</string>
        </dict>
    </dict>
</plist>
